In [5]:
weight = int(input("체중입력 : "))
height = float(input("신장입력 : "))
BMI = weight/(height*height)

if 25 < BMI :
    print("비만~~~~")
else :
    print("정상~~~~")

체중입력 : 96
신장입력 : 1.7
비만~~~~

In [6]:
sum = 0
for i in range(1,101) :
    sum = sum + i
print(sum)

5050

In [7]:
for i in range(1,10):
    for j in range(1,10):
        print(i,"x",j,"=",i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [9]:
i = 1
j=1
while i < 10 :
    j=1
    while j < 10 :
        print (i,"*",j,"=" ,i*j)
        j=j+1
    i = i+1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [15]:
import random

for i in range(6) :
    print(i+1,"번째 번호는", random.randint(1,45), "입니다.")
    
print(1,"번째 번호는", random.randint(1,45), "입니다.")
print(2,"번째 번호는", random.randint(1,45), "입니다.")
print(3,"번째 번호는", random.randint(1,45), "입니다.")
print(4,"번째 번호는", random.randint(1,45), "입니다.")
print(5,"번째 번호는", random.randint(1,45), "입니다.")
print(6,"번째 번호는", random.randint(1,45), "입니다.")


print ("*****")
number = random.randint(1,45)

for i in range(6) :
    print(i+1,"번째 번호는", number, "입니다.")

1 번째 번호는 44 입니다.
2 번째 번호는 13 입니다.
3 번째 번호는 31 입니다.
4 번째 번호는 32 입니다.
5 번째 번호는 3 입니다.
6 번째 번호는 43 입니다.
1 번째 번호는 9 입니다.
2 번째 번호는 20 입니다.
3 번째 번호는 39 입니다.
4 번째 번호는 40 입니다.
5 번째 번호는 32 입니다.
6 번째 번호는 28 입니다.
*****
1 번째 번호는 28 입니다.
2 번째 번호는 28 입니다.
3 번째 번호는 28 입니다.
4 번째 번호는 28 입니다.
5 번째 번호는 28 입니다.
6 번째 번호는 28 입니다.

In [16]:
a= int(input("첫번째 정수를 입력하세요."))
b= int(input("두번째 정수를 입력하세요."))
print(a, "와", b, "의 합은", a+b, "입니다")

첫번째 정수를 입력하세요.100
두번째 정수를 입력하세요.200
100 와 200 의 합은 300 입니다